{% extends 'index.html' %}



{% block content %}


<div class="card shadow mb-4 ml-4 mr-4 w-50">
    <div class="card-header py-3">
        
        <div class="row">
            <div  class="col">
                <h1 class="m-0 font-weight-bold text-primary">{{ player.name }}</h1>
            </div>
    
            <div align="right" class="col" >
                <a href="/player/{{ player.id }}/update" class="btn btn-primary">Update</a>
            </div>
        </div>
        
        

    </div>
    <div class="card-body">
        <div class="table-responsive">
            
            <p>Team: {{ player.team }}</p>
            <p>Age: {{ player.age }}</p>
            <p>Captain: {{ player.iscaptain }}</p>
            <p>Position: {{ player.position }}</p>
        </div>
    </div>
</div>


{% endblock %}