{% extends 'layouts/base.html' %}



{% block content %}






<div class="card shadow mb-4 ml-4 mr-4">
    <div class="card-header py-3">
        <div class="row">
            <div  class="col">
                <h6 class="m-0 font-weight-bold text-primary">Players</h6>
            </div>

            <div align="right" class="col" >
                <a href="/player/create" class="btn btn-primary">Create Player</a>
            </div>

        </div>
        
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Team</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    
                    
                    {% for instance in object_list %}
                        
                        <tr>
                            <td>{{ instance.id }}</td>
                            <td><a href="/player/{{ instance.id }}">{{ instance.name }}</a></td>
                            <td>{{ instance.team.name }}</td>
                            
                            
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}