{% extends 'index.html' %}



{% block content %}






<div class="card shadow mb-4 ml-4 mr-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Players</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Team</th>
                        
                    </tr>
                </thead>
                
                <tbody>
                    
                    
                    {% for instance in object_list %}
                        
                        <tr>
                            <td>{{ instance.id }}</td>
                            <td><a href="/player/{{ instance.id }}">{{ instance.name }}</a></td>
                            <td>{{ instance.team.name }}</td>
                            <td>
                            <a href="/player/{{ instance.id }}/update" class="btn btn-primary">
                                Update
                            </a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>




{% endblock %}