{% extends 'layouts/base.html' %}



{% block content %}


<div class="card shadow mb-4 ml-4 mr-4 w-50">
    <div class="card-header py-3">
        
        <div class="row">
            <div  class="col">
                <h1 class="m-0 font-weight-bold text-primary">{{ team.name }}</h1>
            </div>
    
            <div align="right" class="col" >
                <a href="/team/{{ team.id }}/update" class="btn btn-primary">Update</a>
            </div>
        </div>
        
        

    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                
                
                {% for instance in player_list %}
                    
                    <tr>
                        <td>{{ instance.id }}</td>
                        <td><a href="/player/{{ instance.id }}">{{ instance.name }}</a></td>
                        
                        
                        
                    </tr>
                {% endfor %}

            </tbody>
        </table>

        
    </div>
</div>


{% endblock %}