{% extends 'layouts/base.html' %}



{% block content %}


<div class="card shadow mb-4 ml-4 mr-4 w-60">
    <div class="card-header py-3">
        
        <div class="row">
            <div  class="col">
                <h1 class="m-0 font-weight-bold text-primary">{{ game.home_team.name }} - {{ game.away_team.name }}</h1>
            </div>
    
            <div align="right" class="col" >
                <a href="/game/{{ game.id }}/update" class="btn btn-primary">Update</a>
            </div>
        </div>
        
        

    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Home Team</th>
                    <th>Result</th>
                    <th>Away Team</th>
                    
                    
                </tr>
            </thead>
            
            <tbody>
                
                <tr>
                    <td>{{ game.date }}</td>
                    <td>{{ game.home_team.name }}</td>
                    <td>{{ game.home_goals }}:{{ game.away_goals }}</td>
                    <td>{{ game.away_team.name }}</td>
                </tr>    
                

            </tbody>
        </table>

        
    </div>
</div>


{% endblock %}